<br/><br/><br/><br/><br/>
<div class="container-fluid">
   <div style="color: white;">
      <div class="row" ng-repeat="data in bookCtrl.booksData">
         <div class="col-xs-12 text-center">
            <h2> {{ data.name }}</h2>
         </div>
         <div class="col-xs-12 text-center">
            <h5><b>Author</b> : {{ bookCtrl.author }}</h5>
            <h5><b>Country</b> : {{ data.country }}</h5>
            <h5><b>Pages</b> : {{ data.numberOfPages }}</h5>
            <h5><b>Publisher</b> : {{ data.publisher }}</h5>
            <h5><b>Released on</b> : {{ data.released | date }}</h5>
         </div>
         <div class="col-xs-12 text-center" ng-if = 'data.povCharacters.length >= 1'>
            <h4><b>Main Characters</b></h4>
            <hr style=" border-top: 1px solid #0c0909; margin-top: 2px;">
            <hr/>
            <div class="container" ng-repeat ="pov in data.povCharacters">
               <h6><a ng-href ='#/characters/{{ pov.split("/").pop() }}'>{{ pov }}</a></h6>
            </div>
         </div>
         <div class="col-xs-12" style="display: flex;justify-content: center;margin: 10px 0px;">
             <p><button class="w3-button w3-blue w3-round-xxlarge" class="btn btn-default"  onclick="window.history.back();">back</button></p>
         </div>
      </div>
   </div>
</div>