<br/><br/><br/><br/>
<div style="color: white;">
   <div class="container-fluid text-center">
      <div class="row" ng-repeat="data in charCtrl.charsData">
         <div class="col-xs-12 text-center">
            <h2 ng-if ='data.name != ""'><span style="margin:0px 5px;"><i class="fa fa-star"></i></span> 
               {{ data.name }} 
               <span style="margin:0px 5px;"><i class="fa fa-star"></i></span>
            </h2>
            <hr style=" border-top: 1px solid black; margin-top: 5px;">
            <hr/>
            <h4>Known as : "{{ data.aliases[0]  || "Data Unavailable" }}"</h4>
            <h4>Gender : {{ data.gender || "Data Unavailable" }}</h4>
            <h4> Born : {{ data.born || "Data Unavailable" }}</h4>
            <h4>Culture : {{ data.culture || "Data Unavailable" }}</h4>
            <h4>Died : {{ data.died || "Data Unavailable" }}</h4>
            <h4>
               Father : 
               <h6><a ng-href ='#/characters/{{ data.father.split("/").pop() }}' style="color: #81d0e7;">{{ data.father || "Data Unavailable" }}</a></h6>
            </h4>
            <h4>
               Mother : 
                <h6 ng-if= 'data.mother.length >= 1'> <a ng-href ='#/characters/{{ data.mother.split("/").pop() }}' style="color: #81d0e7;"> {{ data.mother || "Data Unavailable" }}</a></h6>

               <h6  ng-if= 'data.mother.length >= 0'>  {{ data.mother || "Data Unavailable" }}</h6>
            </h4>
            <h4>
               Spouse : 
               <h6><a ng-href ='#/characters/{{ data.spouse.split("/").pop() }}' style="color: #81d0e7;">{{ data.spouse || "Data Unavailable"}}</a></h6>
            </h4>
            <h4>Played by : "{{ data.playedBy[0] || "Data Unavailable"}}"</h4>
            <h4>Title : "{{ data.titles[0] || "Data Unavailable"}}"</h4>
            <h4>Appeared in : "{{ charCtrl.seasons || "Data Unavailable" }}"</h4>
            <div class="col-xs-12" style="display: flex;justify-content: center;margin: 10px 0px;"> 
              <p><button class="w3-button w3-blue w3-round-xxlarge" class="btn btn-default"  onclick="window.history.back();">back</button></p>
            </div>
         </div>
      </div>
   </div>
</div>